:root {
    --sidebar-size: 16%;
    --dark-text: #111;
    --light-text: #dedede;
    --accent-color: #00919e;
}

sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidebar-size); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #262424; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: var(--light-text);
}

.profile-picture {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
    margin-bottom: 5%;
}

.socials-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.social-link {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link {
    display: block;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-align: center;
    width: auto;
    font-size: 4rem;
    color: var(--light-text);
    border-right: 8px solid var(--light-text);
}
.nav-link:hover {
    color: var(--accent-color);
    border-right: 8px solid var(--accent-color);
}
.nav-link.current {
    color: var(--accent-color);
    border-right: 8px solid var(--accent-color);
}
.nav-link-box {
    border-top: 1px solid black;
}
.nav-links {
    border-bottom: 1px solid black;
    margin-top: 15%;
    margin-bottom: 15%;
}

.copyright-box {
    margin-top: auto;
    text-align: center;
}

.main {
    padding-left: var(--sidebar-size);
}
