:root {
    --sidebar-size: 16%;
    --dark-text: #111;
    --light-text: #dedede;
    --accent-color: #00919e;

    --dark-background: #262424;
    --light-text-filter: invert(97%) sepia(7%) saturate(17%) hue-rotate(118deg) brightness(106%) contrast(74%);
}

body {
    background-color: #f0f1f2;
}

/* Sidebar */
sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidebar-size); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--dark-background); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: var(--light-text);
    box-shadow:
    0.2px 0px 3.8px rgba(0, 0, 0, 0.25),
    0.4px 0px 8.6px rgba(0, 0, 0, 0.19),
    0.6px 0px 14.9px rgba(0, 0, 0, 0.163),
    1px 0px 23.7px rgba(0, 0, 0, 0.143),
    1.5px 0px 36.5px rgba(0, 0, 0, 0.125),
    2.4px 0px 57px rgba(0, 0, 0, 0.107),
    4px 0px 94.6px rgba(0, 0, 0, 0.087),
    8px 0px 189px rgba(0, 0, 0, 0.06)
  ;
}

.profile-picture {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}
.profile-picture.circle {
    border-radius: 50%;
}
.title {
    text-align: center;
    font-size: large;
    font-weight: 700;
}

/* Socials */
.socials-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.social-link {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

/* Navigation */
.nav-link {
    display: block;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-align: center;
    width: auto;
    font-size: 2rem;
    color: var(--light-text);
    border-right: 4px solid var(--light-text);
}
.nav-link:hover {
    color: var(--accent-color);
    border-right-color: var(--accent-color);
}
.nav-link.current {
    color: var(--accent-color);
    border-right-color: var(--accent-color);
}
.nav-link-box {
    border-top: 1px solid black;
}
.nav-links {
    border-bottom: 1px solid black;
    margin-top: 15%;
    margin-bottom: 15%;
}

.copyright-box {
    margin-top: 20%;
    text-align: center;
}

/* Content */
.main {
    padding-left: var(--sidebar-size);
}

/* Gallery */
image-gallery::part(img) {
    border-radius: 16px;
}
image-gallery::part(caption) {
    text-align: center;
    color: #444;
    font-style: italic;
}
image-gallery::part(button) {
    padding: 0%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 700;
    border: none;
    background-color: var(--dark-background);
}
image-gallery::part(arrow) {
    width: 16px;
    height: 16px;
    filter: var(--light-text-filter);
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
    .nav-link {
        font-size: 2.6rem;
        border-right: 4px solid var(--light-text);
    }
    .title {
        font-size: x-large;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .nav-link {
        font-size: 4rem;
        border-right: 8px solid var(--light-text);
    }
    .title {
        text-align: center;
        font-size: xx-large;
        font-weight: 700;
    }
}