<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kyler Limata - {{ section.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href={{ get_url(path="css/style.css") }}>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <sidebar>
    <img src={{ get_url(path="images/pfp.jpg") }} class="profile-picture circle">
    <div class="socials-box">
      {% set social_data = load_data(path="socials.json") %}
      {% for social in social_data %}
        {% set icon_url = get_url(path="images/socials/" ~ social["icon"]) %}
        <a href={{ social["url"] }} class="social-link">
          <img src={{ icon_url }} style="width: 32px;">
        </a>
      {% endfor %}
    </div>
    <div class="nav-links">
      {% set nav_data = load_data(path="navigation.json") %}
      {% for nav in nav_data %}
        {% set nav_url = get_url(path=nav["path"]) %}
        {% set title = nav["title"] %}
        {% set classes = "nav-link" %}
  
        {% if title == section.title %}
          {% set classes = "nav-link current" %}
        {% endif %}
  
        <div class="nav-link-box">
          <a href="{{ nav_url }}" class="{{ classes }}">{{ nav["title"] }}</a>
        </div>
      {% endfor %}
    </div>
    <div class="copyright-box">
      Copyright &copy; 2024 Kyler Limata
    </div>
  </sidebar>
  <div class="main">
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
